
<div class="grid">
  <div class="col text-center">
    <h4>Sucursal:
    </h4>
  </div>
  <div class="col text-center">
    <mat-form-field>
      <mat-label>Fecha Rendición</mat-label>
      <input matInput [matDatepicker]="picker">

      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-3 text-center" >
    <mat-form-field>
      <span matTextPrefix>Hoja de Ruta:</span>
      <input type="text" matInput>
    </mat-form-field>
  </div>

  <div class="col text-center mt-2">
    <button mat-raised-button color="primary"><mat-icon>refresh</mat-icon></button>

    <!-- <button mat-icon-button >
      <mat-icon aria-label="Example icon-button with a heart icon">refresh</mat-icon>
    </button> -->
  </div>
  <div class="col text-center mt-2">
    <button  mat-raised-button color="warn" class="font-semibold text-base">RENDIR</button>
  </div>
</div>

<div class="grid">
  <div class="col text-center pt-2">
    <mat-card class="manito" (click)="estado(3)">

      <p class="rend-card2">Hojas de ruta: 1 Pedidos: 9</p>
    </mat-card>
  </div>
  <div class="col text-center pt-2">
    <mat-card class="manito" (click)="estado(2)">
      <p class="rend-card2">Cancelados: 0</p>
    </mat-card>
  </div>
  <div class="col text-center pt-2">
    <mat-card class="manito" (click)="estado(1)">
      <p class="rend-card2">Otros: 0</p>
    </mat-card>
  </div>
</div>

<div class="grid">
  <div class="col">
    <app-grillarendicion></app-grillarendicion>
  </div>
</div>
