<!-- <div class="grid grid-nogutter">
  <div class="col-4">
      <div class="text-center p-1 bg-blue-900 font-bold ">4</div>
  </div>
  <div class="col">
      <div class="text-center p-1 bg-blue-900 font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-1 bg-blue-900 font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-1 bg-blue-900 font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-1 bg-blue-900 font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-1 bg-blue-900 font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-1 bg-blue-900 font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-1 bg-blue-900 font-bold ">1</div>
  </div>
  <div class="col">
      <div class="text-center p-1 bg-blue-900 font-bold ">1</div>
  </div>
</div> -->
<div class="pt-2 pr-2 pl-2">
  <div class="grid bg-blue-900">
    <div class="col-1 text-lg border-2 border-right-none"> </div>
    <div class="col-2 text-lg border-2 border-right-none"> </div>
    <div class="col text-lg border-2 border-right-none"> <div class="text-center text-50">Cupones</div></div>
    <div class="col text-lg border-2 border-right-none"> <div class="text-center text-50">Factura/Ticket</div></div>
    <div class="col-2 text-lg border-2 border-right-none"> <div class="text-50"></div></div>
    <div class="col-1 text-lg border-2 "> <div class="text-50"></div></div>
  </div>
  <div class="grid bg-blue-900">
    <div class="col-1 text-lg border-2 border-top-none border-right-none"><div class="text-center text-50">Pedido</div></div>
    <div class="col-2 text-lg border-2 border-top-none border-right-none"><div class="text-center text-50">Estado</div></div>
    <div class="col text-lg border-2 border-top-none border-right-none"><div class="text-50"></div></div>
    <div class="col text-lg border-2 border-top-none border-right-none">
      <div class="grid ">
        <div class="col-1 text-lg border-2 border-top-none border-right-none"><div class="text-50">Col 4</div></div>
        <div class="col-2 align-items-center justify-content-center text-lg border-2 border-top-none border-right-none"><div class="text-50">Col 4</div></div>
        <div class="col text-lg border-2 border-top-none border-right-none"><div class="text-50">Col 4</div></div>
        <div class="col text-lg border-2 border-top-none border-right-none"><div class="text-50">Col 4</div></div>
        <div class="col-2 text-lg border-2 border-top-none border-right-none"><div class="text-50"></div>
      </div>
      <div class="col-1 text-lg border-2 border-top-none"><div class="text-50">Col 4</div></div>
    </div></div>
    <div class="col-2 text-lg border-2 border-top-none border-right-none"><div class="text-center text-50">Ajuste</div></div>
    <div class="col-1 text-lg border-2 border-top-none "><div class="text-center text-50">Observacion</div></div>
  </div>
  <div class="grid ">
    <div class="col text-lg border-2 border-top-none "><div class="text-50">Col 4</div></div>
  </div>
  <div class="grid ">
    <div class="col-1 text-lg border-2 border-top-none border-right-none"><div class="text-50">Col 4</div></div>
    <div class="col-2 align-items-center justify-content-center text-lg border-2 border-top-none border-right-none"><div class="text-50">Col 4</div></div>
    <div class="col text-lg border-2 border-top-none border-right-none"><div class="text-50">Col 4</div></div>
    <div class="col text-lg border-2 border-top-none border-right-none"><div class="text-50">Col 4</div></div>
    <div class="col-2 text-lg border-2 border-top-none border-right-none"><div class="text-50"></div></div>
    <div class="col-1 text-lg border-2 border-top-none"><div class="text-50">Col 4</div></div>
  </div>
</div>
  <!-- <div class="flex flex-row w-12 bg-blue-800 font-semibold">
    <div class="flex h-auto p-1 flex align-items-center justify-content-center border-2"><div class="text-lg text-50">Pedido</div></div>
    <div class="flex min-w-max p-1 flex align-items-center justify-content-center border-y-2"><div class="text-lg text-50">Estado</div></div>
    <div class="flex h-auto p-1 flex align-items-center justify-content-center	border-2"></div>
    <div class="flex h-auto p-1 flex align-items-center justify-content-center border-y-2"></div>
    <div class="flex h-auto p-1 flex align-items-center justify-content-center border-2"><div class="text-lg text-50">Ajuste</div></div>
    <div class="flex h-auto p-1 flex align-items-center justify-content-center border-y-2 border-right-3"><div class="text-lg text-50">Observaciones</div></div>
  </div>
  <div>
    <div class="flex flex-row">
      <div class="col	border-2">
      <mat-checkbox color="primary">
        <div class="text-lg font-semibold">Hoja de Ruta 1111111 - 9 Pedidos</div>
      </mat-checkbox>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="col	border-2">
        <mat-checkbox color="primary">
          <div class="text-lg font-semibold">Hoja de Ruta 1111111 - 9 Pedidos</div>
        </mat-checkbox>
      </div>
      <div class="col	border-y-3">
        <mat-checkbox color="primary">

        </mat-checkbox>
      </div>
      <div class="col	border-3">
        <mat-checkbox color="primary">
          <div class="text-lg font-semibold">Hoja de Ruta 1111111 - 9 Pedidos</div>
        </mat-checkbox>
      </div>
      <div class="col	border-y-3">
        <mat-checkbox color="primary">
          <div class="text-lg font-semibold">Hoja de Ruta 1111111 - 9 Pedidos</div>
        </mat-checkbox>
      </div>
      <div class="col	border-3">
        <mat-checkbox color="primary">
          <div class="text-lg font-semibold">Hoja de Ruta 1111111 - 9 Pedidos</div>
        </mat-checkbox>
      </div>
      <div class="col	border-y-3 border-right-3">
        <mat-checkbox color="primary">
          <div class="text-lg font-semibold">Hoja de Ruta 1111111 - 9 Pedidos</div>
        </mat-checkbox>
      </div>
    </div>
  </div>
</div> -->
<!--
  <div class="flex flex-row flex-auto flex-wrap">
    <div class="col	border-3"></div>
    <div class="max-w-5rem col border-y-3"></div>
    <div class="col	border-3">Cupones</div>
    <div class="col border-y-3">Factura/Ticket</div>
    <div class="col	 border-3"></div>
    <div class="col	 border-y-3 border-right-3"></div>
  </div>
   <div class="flex flex-row flex-auto flex-wrap">
    <div class="col border-3 ">Pedido</div>
    <div class="max-w-5rem col border-y-3 text-center">Estado</div>
    <div class="col border-3"></div>
    <div class="col border-y-3"></div>
    <div class="col border-3 text-center">Ajuste</div>
    <div class="col border-y-3 border-right-3 text-center">Observacion</div>
  </div> -->


<!-- <div class="grid pl-2 pr-2">
  <div class="col border-3 text-center">Pedido</div>
  <div class="min-w-max col border-y-3 text-center">Estado</div>
  <div class="col border-3"></div>
  <div class="col border-y-3"></div>
  <div class="col border-3 text-center">Ajuste</div>
  <div class="col border-y-3 border-right-3 text-center">Observacion</div>
</div> -->
